* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container_customize {
    width: 80%;
    margin: auto;
}

nav {
    background: rgb(2, 59, 109);
    color: #fff;
}

nav .container_customize {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

nav ul {
    display: flex;
    gap: 16px;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

.service {
    background: rgb(135, 206, 235);
    text-align: center;
    padding: 40px 0;
}

.service_images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; 
    padding-top: 20px;
    flex-wrap: wrap;
}

.service_item {
    width: 300px;
    margin-bottom: 20px;
}

.service_item img {
    width: 100%;
    height: 200px;
    border-radius: 8px;
}