body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container_customize{
    width: 80%;
    margin: auto;
}

nav{
    background: rgb(2, 59, 109);
    color: #fff;
}

nav .container_customize{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;
    gap: 16px;
}

li,a{
    list-style: none;
    text-decoration: none;
    color: #fff;
}

.service{
    background:rgb(135, 206, 235);
    text-align: center;
}

.service_images{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    flex-wrap: wrap;
}

.service_item{
    width: 30%;
    margin-bottom: 20px;
    text-align: center;
}

.service_item img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}